<h1>{{title}}</h1>

<p>{{1+1}}</p>

<p>{{getSlogan()}}</p>

<button type="button" (click)="mostrarMensaje()">Mostrar alert</button>
<br />
<img width="200px" [src]="isImg1? imgUrl: imgUrl2" />
<br />

<button type="button" (click)="cambiarImagen()">Cambiar imagen</button>

<br /><br />
<label for="inputEmail">Email: </label><br />
<input id="inputEmail" type="email" [(ngModel)]="email" /><input type="button" value="Login" *ngIf="email != ''" />


<p>Valor del email: {{email}}</p>

<input type="button" value="Login" [disabled]="email == ''" />
<br /><br />
