<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">PalomitasApp</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="/home">Home</a>
        </li>
        <li class="nav-item" *ngIf="!isLoggedIn; else templateAccount">
          <a class="nav-link" (click)="doLogin()">Login</a>
        </li>
        <ng-template #templateAccount>
          <li class="nav-item">
            <a class="nav-link" routerLink="/my-profile"><img class="avatar" height="50px" [src]="getAvatar()"
                alt="Avatar">
              {{getUsername()}}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="doLogout()">Logout</a>
          </li>
        </ng-template>
      </ul>
    </div>
  </div>
</nav>
<div class="row">
  <div class="col-12">
    <app-movie-popular></app-movie-popular>
  </div>
</div>