<div class="row">

  <div class="col-3" *ngFor="let pokemon of listadoPokemon">
    <div class="card">
      <img [src]="getPokemonImageUrl(pokemon.url)" class="card-img-top" [alt]="pokemon.name">
      <!-- <img [src]="pokemon.url | pokemonImg" class="card-img-top" [alt]="pokemon.name"> -->
      <div class="card-body">
        <h5 class="card-title">{{pokemon.name}}</h5>
        <p class="card-text">Para más información pulsar en el siguiente botón.
        </p>
        <a href="#" class="btn btn-primary">Select</a>
      </div>
    </div>
  </div>
</div>
